body {
    background-color: #fffacd;
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
header, footer {
    text-align: center;
    padding: 1em;
}

main {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-image {
    max-height: 200px;
    width: auto;
}

#error-404-img {
    width: 80%;
    max-width: 1000px;
    height: auto;
    margin: auto;
    box-sizing: border-box;
}

.page-section {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

#first-page,
#game-page,
#success-page #gallery-page #search-result {
    display: flex;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    margin: 10px 5px;
}

#search-button,
#give-money,
#reset-total,
#continue-game,
#new-game {
    background-color: green;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#search-button:hover,
#give-money:hover,
#reset-total:hover,
#continue-game:hover,
#new-game:hover {
    background-color: darkgreen;
    transform: scale(1.05);
}

#search-button:active,
#give-money:active,
#reset-total:active,
#continue-game:active,
#new-game:active {
    background-color: yellow;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

#search-result img {
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}


#search-result img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#search-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: black;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.chosenimage {
    width: 200px;
}

.coin img {
    cursor: grabbing;
    transition: transform 0.2s;
}

.coin img:hover {
    transform: scale(1.1);
}

.coin-5c img {
    width: 50px;
    height: 50px;
}

.coin-10c img {
    width: 60px;
    height: 60px;
}

.coin-20c img {
    width: 70px;
    height: 70px;
}

.coin-50c img {
    width: 80px;
    height: 80px;
}

.coin-1e img {
    width: 90px;
    height: 90px;
}

.coin-2e img {
    width: 100px;
    height: 100px;
}

#coins {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#coins button {
    border: none;
    background: none;
    padding: 0;
}

#total,
#price {
    font-size: 2em;
}

#feedback-message {
    color: red;
    font-size: 1.2em;
    margin-top: 10px;
}

.error {
    color: red;
}


/* media  query for mobile 600px or less */
@media (max-width: 600px) {
    body {
        justify-content: flex-start;
        overflow-y: auto;
    }    

    #hero-image {
        max-height: 150px;
        margin-top: 10px;
    }

    #search-result img {
        width: 90%;
        max-width: 150px;
        margin:  10px auto;
    }

    #coins {
        flex-wrap: wrap;
    }

    #coins button {
        flex: 1 1 30%;
        margin: 5px;
    }

    #total, #price {
        font-size: 1.5em;
    }
}