body {
    background-color: #fffacd;
    font-family: Nunito Sans;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero-image {
    max-height: 200px;
    width: auto;

}
.page-section {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}    

#first-page, #game-page, #success-page #gallery-page #search-result {
    display: flex;
}


.chosenimage {
    width: 200px;
}

.coin {
    cursor: pointer;
}

#search-result img {
    cursor: pointer;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    transition: transform 0.3s, box-shadow 0.3;
}

#search-result img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#search-result {
    background-color: #3ae1fa;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}



/* #gallery-page {
    display: grid;  
    width: 100%;
    justify-items: center;
} */